{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'fashion/css/all_list.css' %}">
{% endblock %}
 

 <body topmargin="0">
    {% block body %}
    <!-- spring : 봄 웜톤-->
    <article class="product-container">
        <div class="container-wrapper">
            <section class="category-title">
                <h2>봄 웜톤 추천 의류</h2>
                <button onclick="location.href='/shopping/list/spring';">전체보기 &rarr;</button>
            </section>
            <section id="spring" class="product-wrapper">
                {% for sp in spring %}
                <div class="product">
                    <a href={{sp.url}}>
                        <img src={{ sp.thumbnail }} alt="thumbnail"/>
                    
                        <p class="brand">[{{ sp.brand }}]</p>
                        <p class="name">{{ sp.name }}</p>
                        {% if sp.discount_price %}
                            <del style="color:#bdbdbd;margin-right:2px">{{ sp.price }}원</del>
                            <span class="price">{{ sp.discount_price }}원 </span>
                        {% else %}
                            <span class="price">{{ sp.price }}원 </span>
                        {% endif %}
                    </a>
                </div>
                {% endfor %}
            </section>
            <section class="carousel-button">
                <button id="spring-prev" class="prev" onclick="slideCarousel(event);"></button>
                <button id="spring-next" class="next" onclick="slideCarousel(event);"></button>
            </section>
        </div>
    </article>

    <!-- summer : 여름 쿨톤-->
    <article class="product-container">
        <div class="container-wrapper">
            <section class="category-title">
                <h2>여름 쿨톤 추천 의류</h2>
                <button onclick="location.href='/shopping/list/summer';">전체보기 &rarr;</button>
            </section>
            <section id="summer" class="product-wrapper">
                {% for sm in summer %}
                <div class="product">
                    <a href={{sm.url}}>
                        <img src={{ sm.thumbnail }} alt="thumbnail"/>
                        <p class="brand">[{{ sm.brand }}]</p>
                        <p class="name">{{ sm.name }}</p>
                        {% if sm.discount_price %}
                            <del style="color:#bdbdbd;margin-right:2px">{{ sm.price }}원</del>
                            <span class="price">{{ sm.discount_price }}원 </span>
                        {% else %}
                            <span class="price">{{ sm.price }}원 </span>
                        {% endif %}
                    </a>
                </div>
                {% endfor %}
            </section>
            <section class="carousel-button">
                <button id="summer-prev" class="prev" onclick="slideCarousel(event);"></button>
                <button id="summer-next" class="next" onclick="slideCarousel(event);"></button>
            </section>
        </div>
    </article>

    <!-- autumn : 가을 웜톤-->
    <article class="product-container">
        <div class="container-wrapper">
            <section class="category-title">
                <h2>가을 웜톤 추천 의류</h2>
                <button onclick="location.href='/shopping/list/autumn';">전체보기 &rarr;</button>
            </section>
            <section id="autumn" class="product-wrapper">
                {% for at in autumn %}
                <div class="product">
                    <a href={{at.url}}>
                        <img src={{ at.thumbnail }} alt="thumbnail"/>
                        <p class="brand">[{{ at.brand }}]</p>
                        <p class="name">{{ at.name }}</p>
                        {% if at.discount_price %}
                            <del style="color:#bdbdbd;margin-right:2px">{{ at.price }}원</del>
                            <span class="price">{{ at.discount_price }}원 </span>
                        {% else %}
                            <span class="price">{{ at.price }}원 </span>
                        {% endif %}
                    </a>
                </div>
                {% endfor %}
            </section>
            <section class="carousel-button">
                <button id="autumn-prev" class="prev" onclick="slideCarousel(event);"></button>
                <button id="autumn-next" class="next" onclick="slideCarousel(event);"></button>
            </section>
        </div>
    </article>

    <!-- winter : 겨울 쿨톤-->
    <article class="product-container">
        <div class="container-wrapper">
            <section class="category-title">
                <h2>겨울 쿨톤 추천 의류</h2>
                <button onclick="location.href='/shopping/list/winter';">전체보기 &rarr;</button>
            </section>
            <section id="winter" class="product-wrapper">
                {% for wt in winter %}
                <div class="product">
                    <a href={{wt.url}}>
                        <img src={{ wt.thumbnail }} alt="thumbnail"/>
                        <p class="brand">[{{ wt.brand }}]</p>
                        <p class="name">{{ wt.name }}</p>
                        {% if wt.discount_price %}
                            <del style="color:#bdbdbd;margin-right:2px">{{ wt.price }}원</del>
                            <span class="price">{{ wt.discount_price }}원 </span>
                        {% else %}
                            <span class="price">{{ wt.price }}원 </span>
                        {% endif %}
                    </a>
                </div>
                {% endfor %}
            </section>
            <section class="carousel-button">
                <button id="winter-prev" class="prev" onclick="slideCarousel(event);"></button>
                <button id="winter-next" class="next" onclick="slideCarousel(event);"></button>
            </section>
        </div>
    </article>
    {% endblock %}

    {% block script %}
        <script src="{% static 'fashion/js/carousel_button.js' %}"></script>
    {% endblock %}
 </body>
