{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'fashion/css/product_list.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/redux/5.0.0-alpha.0/redux.js"></script>
{% endblock %}
 

 <body topmargin="0">
    {% block body %}
    <header class="header">
        <h1 class="title">봄 웜톤 <span>Spring Warm</span></h1>
        <ul class="tone-navigator">
            <li><a href="/shopping/list/summer">여름 쿨톤</a></li>
            <li><a href="/shopping/list/autumn">가을 웜톤</a></li>
            <li><a href="/shopping/list/winter">겨울 쿨톤</a></li>
        </ul>
    </header>
    <hr>
   
    <form action="" method="get" class="filter">
        <div class="filter-container">
            <div class="category-filter">
                <input id="all" type="radio" name="category" class="category" value="all" {% if category == 'all' %} checked {% endif %}>
                <label for="all">All</label>

                <input id="collar" type="radio" name="category" class="category" value="collar" {% if category == 'collar' %} checked {% endif %}>
                <label for="collar">Collar</label>

                <input id="hoodie" type="radio" name="category" class="category" value="hoodie" {% if category == 'hoodie' %} checked {% endif %}>
                <label for="hoodie">Hoodie</label>

                <input id="shirt" type="radio" name="category" class="category" value="shirt" {% if category == 'shirt' %} checked {% endif %}>
                <label for="shirt">Shirt</label>

                <input id="longsleeve" type="radio" name="category" class="category" value="longsleeve" {% if category == 'longsleeve' %} checked {% endif %}>
                <label for="longsleeve">Longsleeve</label>

                <input id="shortsleeve" type="radio" name="category" class="category" value="shortsleeve" {% if category == 'shortsleeve' %} checked {% endif %}>
                <label for="shortsleeve">Shortsleeve</label>

                <input id="sleeveless" type="radio" name="category" class="category" value="sleeveless" {% if category == 'sleeveless' %} checked {% endif %}>
                <label for="sleeveless">Sleeveless</label>

                <input id="sweat" type="radio" name="category" class="category" value="sweat" {% if category == 'sweat' %} checked {% endif %}>
                <label for="sweat">Sweat</label>
                
                <input id="sweater" type="radio" name="category" class="category" value="sweater" {% if category == 'sweater' %} checked {% endif %}>
                <label for="sweater">Sweater</label>
            </div>
            <div class="color-filter">
                <input id="gray" type="radio" name="color" class="color" value="3" data-value="gray" style="background-color:#9D9C9B" {% if color == '3' %} checked {% endif %}/>
                <input id="red" type="radio" name="color" class="color" value="11" data-value="red" style="background-color:#FF0000" {% if color == '11' %} checked {% endif %}/>
                <input id="pink" type="radio" name="color" class="color" value="10" data-value="pink" style="background-color:#FF00FF" {% if color == '10' %} checked {% endif %}/>
                <input id="orange" type="radio" name="color" class="color" value="12" data-value="orange" style="background-color:#ff7f00" {% if color == '12' %} checked {% endif %}/>
                <input id="yellow" type="radio" name="color" class="color" value="9" data-value="yellow" style="background-color:#FBEB4F" {% if color == '9' %} checked {% endif %}/>
                <input id="green" type="radio" name="color" class="color" value="6" data-value="green" style="background-color:#50AD32" {% if color == '6' %} checked {% endif %}/>
                <input id="blue" type="radio" name="color" class="color" value="7" data-value="blue" style="background-color:#210AF5" {% if color == '7' %} checked {% endif %}/>
                <input id="purple" type="radio" name="color" class="color" value="8" data-value="purple" style="background-color:#8b00ff" {% if color == '8' %} checked {% endif %}/>
                <input id="brown" type="radio" name="color" class="color" value="4" data-value="brown" style="background-color:#752F16" {% if color == '4' %} checked {% endif %}/>
                <input id="sand" type="radio" name="color" class="color" value="29" data-value="sand" style="background-color:#CAB494" {% if color == '29' %} checked {% endif %}/>
            </div>
        </div>
        <input type="submit" name="submit" value="상세 검색" class="submit"/>
    </form>

    <section id="clothes-container">
        <div id='clothes-list' class="clothes-list">  
                {% for c in clothes %}
                    <div class="clothes-item">
                        <a href="{{c.url}}">
                            <img class="thumbnail" src="{{ c.thumbnail }}" alt="{{s.name}}">
                        
                            <p class="brand">{{ c.brand }}</p>
                            <p class="name">{{ c.name }}</p>
                        <p>{{c.category}} {{c.color}} {{c.tone}}</p>
                        {% if c.discount_price %} 
                            <div class="price-box">
                                <del class="del-price">{{c.price}}원</del> 
                                <p class="price" style="font-weight: bold;">{{c.discount_price}}원</p>
                            </div>
                        {% else %}
                            <p class="price" style="font-weight: bold;">{{c.price}}원</p>
                        {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
    </section>

    <section id="paging">
        <ul class="pagination">
        {% if clothes.has_previous %}
        <li class="page-item">
            <button class="page-link" onclick="createPagingUrl({{clothes.previous_page_number}});">
            이전
            </button>
        </li>
        {% else %}
        <li class="page-item disabled">
            <button class="page-link" tabindex="-1" aria-disabled="true" href="#">
            이전
            </button>
        </li>
        {% endif %}
        {% for page_number in clothes.paginator.page_range %}
            {% if page_number >= clothes.number|add:-5 and page_number <= clothes.number|add:5 %}
                {% if page_number == clothes.number %}
                <li class="page-item active" aria-current="page">
                    <button class="page-link" onclick="createPagingUrl({{page_number}});">
                        {{page_number}}
                    </button>
                </li>
                {% else %}
                <li class="page-item" aria-current="page">
                    <button class="page-link" onclick="createPagingUrl({{page_number}});">
                        {{page_number}}
                    </button>
                </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if clothes.has_next %}
            <li class="page-item">
                <button class="page-link" onclick="createPagingUrl({{clothes.next_page_number }});">다음</button>
            </li>
        {% else %}
            <li class="page-item disabled">
                <button class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</button>
            </li>
        {% endif %}
        </ul>
    </section>
    {% endblock %}
    {% block script %}
        <script type="text/javascript" src="{% static 'fashion/js/queryString.js' %}"></script>
        <script type="text/javascript" src="{% static 'fashion/js/paging.js' %}"></script>
    {% endblock %}
 </body>

