{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'fashion/css/product_list.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/redux/5.0.0-alpha.0/redux.js"></script>
{% endblock %}
 

 <body topmargin="0">
    {% block body %}
    <header class="header">
        <h1 class="title">봄 웜톤 <span>Spring Warm</span></h1>
        <ul class="tone-navigator">
            <li><a href="/shopping/list/summer">여름 쿨톤</a></li>
            <li><a href="/shopping/list/autumn">가을 웜톤</a></li>
            <li><a href="/shopping/list/winter">겨울 쿨톤</a></li>
        </ul>
    </header>
    <hr>
    <section class="filter">
        <div class="category-filter">
            <button id='collar' class="category" onclick="setOption(event,'spring');">PK/Collar</button>
            <button id='hoodie' class="category" onclick="setOption(event,'spring');">Hoodie</button>
            <button id='shirt' class="category" onclick="setOption(event,'spring');">Shirt</button>
            <button id='longsleeve' class="category" onclick="setOption(event,'spring');">Longsleeve</button>
            <button id='shortsleeve' class="category" onclick="setOption(event,'spring');">Shortsleeve</button>
            <button id='sleeveless' class="category" onclick="setOption(event,'spring');">Sleeveless</button>
            <button id='sweat' class="category" onclick="setOption(event,'spring');">Sweatshirt</button>
            <button id='sweater' class="category" onclick="setOption(event,'spring');">Knit</button>
        </div>

        <div class="color-filter">
        <!-- 회 빨 핑 주 노 초 파 보 갈 베-->
            <button id='3' class="color" style="background:#9D9C9B;" onclick="setOption(event,'spring');">gray</button>
            <button id='11' class="color" style="background:#FF0000;" onclick="setOption(event,'spring');">red</button>
            <button id='10' class="color" style="background:#FF00FF;" onclick="setOption(event,'spring');">pink</button>
            <button id='12' class="color" style="background:#ff7f00;"onclick="setOption(event,'spring');">orange</button>
            <button id='9' class="color" style="background:#FBEB4F;" onclick="setOption(event,'spring');">yellow</button>
            <button id='6' class="color" style="background:#50AD32;" onclick="setOption(event,'spring');">green</button>
            <button id='7' class="color" style="background:#210AF5;" onclick="setOption(event,'spring');">blue</button>
            <button id='8' class="color" style="background:#8b00ff;" onclick="setOption(event,'spring');">purple</button>
            <button id='4' class="color" style="background:#752F16;" onclick="setOption(event,'spring');">brown</button>
            <button id='29' class="color" style="background:#CAB494;" onclick="setOption(event,'spring');">sand</button>
        </div>
    </section>

    <section id="clothes-container">
        <div id='clothes-list' class="clothes-list">  
                {% for c in clothes %}
                    <div class="clothes-item">
                        <a href="{{c.url}}">
                            <img class="thumbnail" src="{{ c.thumbnail }}" alt="{{s.name}}">
                        
                            <p class="brand">{{ c.brand }}</p>
                            <p class="name">{{ c.name }}</p>
                        <p>{{c.category}} {{c.color}} {{c.tone}}</p>
                        {% if c.discount_price %} 
                            <div class="price-box">
                                <del class="del-price" style="color:gray;">{{c.price}}원</del> 
                                <p class="price" style="font-weight: bold;">{{c.discount_price}}원</p>
                            </div>
                        {% else %}
                            <p class="price" style="font-weight: bold;">{{c.price}}원</p>
                        {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
    </section>

    <div id="paging">
        <ul class="pagination">
        {% if clothes.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ clothes.previous_page_number }}">
            이전
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
            이전
            </a>
        </li>
        {% endif %}
        {% for page_number in clothes.paginator.page_range %}
            {% if page_number == clothes.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{page_number}}">
                    {{page_number}}
                </a>
            </li>
            {% else %}
            <li class="page-item" aria-current="page">
                <a class="page-link" href="?page={{page_number}}">
                    {{page_number}}
                </a>
            </li>
            {% endif %}
        {% endfor %}
        {% if clothes.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ clothes.next_page_number }}">다음</a>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
        {% endif %}
        </ul>
    </div>
    {% endblock %}
    {% block script %}
        <script type="text/javascript" src="{% static 'fashion/js/queryString.js' %}"></script>
    {% endblock %}
 </body>

