{% extends 'base.html' %}
{% load static %}

<!-- extra_head:css,스크립트파일(js) 넣는 블록-->
{% block extra_head %}
<link rel="stylesheet" href="{% static 'main/css/main_page.css' %}">
{% endblock %}
 
<body>
   {% block body %}
    <div class='main-page'>
        <p class="title">SMWU X MUSINSA<p>
        <p class="subtitle">사진을 통해 당신의 퍼스널 컬러 타입을 진단받고, 어울리는 색상의 의류를 쇼핑해보세요.</p>
        <div class="navigator-button">
            <button type="submit" onClick="location.href='http://127.0.0.1:8000/face'">퍼스널 컬러 테스트</button>
            <button type="submit" onClick="location.href='http://127.0.0.1:8000/shopping'">쇼핑하기</button>
        </div>
    </div>
    {% endblock body %}
</body>