/* 테스트 결과 */
body{
    background: white;
}
.result {
    text-align: center;
    background:white;
}
.personal_color_result {
    float: left; 
    position:relative; 
    width: 40%; 
    padding: 7%; 
    padding-bottom: 3%;
}
.personal_color_palette {
    float: left; 
    width: 40%; 
    padding: 3%; 
    padding-left: 1%; 
    padding-right: 5%;
}
hr {
    color: gray;
}

/* 이동 */
button {
    /*position:absolute; */
    font-size: 18px;
    width: 250px;
    height: 50px;
    text-align: center;
    bottom: 100px;
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px;
    background-color: #ffffff;
}
button:hover {
    color: #ffffff;
    background-color: #000000;
}

/* 정보 */
.info {
    text-align: center;
    position:relative;
    bottom:0;
    width: 99%;  
    color:lightgray;
    line-height: 50px;
    height: 50;
}
